page-subscribe {
    .error .text-input, .error .item-inner{
        background-color: #ffd2d2 !important;
    }
}

.url_politicas {
    color: rgb(63, 172, 255) !important;;
}

a:link {
    color: rgb(63, 172, 255);
  }
  
  /* visited link */
  a:visited {
    color: rgb(63, 172, 255);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(63, 172, 255);
  }
  
  /* selected link */
  a:active {
    color: rgb(63, 172, 255);
  }