page-home {
    .add-favorite{
        top: 4px;
        right: 1%;
        position: fixed;
        background-color: transparent;
    }
    .add-favorite-ios{
        top: 100px;
        right: 1%;
        position: fixed;
        background-color: transparent;
    }
}


.url_politicas {
    color: white !important;;
}

a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }
  
  /* selected link */
  a:active {
    color: white;
  }