<ion-menu [content]="content">
  <ion-content>
    <ion-list>
      <div class="menutitle"><img src="img/logomenu.png"></div>
      <ion-item class="menuitemhome" menu-close>
        <img src="img/flag-england.png" class="{{ hideLangEn }}" width="35" height="35" ng-click="switchLang('en')">
        <img src="img/flag-spain.png" class="{{ hideLangEs }}" width="35" height="35" ng-click="switchLang('es')">
        <img src="img/flag-italy.png" class="{{ hideLangIt }}" width="35" height="35" ng-click="switchLang('it')">
        <img src="img/flag-germany.png" class="{{ hideLangGr }}" width="35" height="35" ng-click="switchLang('gr')">
        <img src="img/flag-france.png" class="{{ hideLangFr }}" width="35" height="35" ng-click="switchLang('fr')">
      </ion-item>
      <button menuClose ion-item class="item item-block item-md {{ p.icon }}" *ngFor="let p of pages" (click)="openPage(p)">
        <label class="item-content"></label>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>